.navi {
  background-color: black;
  position: fixed;
  z-index: 10;
  justify-content: center;
  display: flex;
  /* margin: 0 auto; */
  /* display: block; */
  width: 100%;
}

#three {
  padding: 20px;
}

.wrapper {
  padding: 6em 0 2em 0 !important;
}

.count, .count1, .count2 {
  margin-bottom: 10px;
}

.counter {
  font-family: 'Fjalla One', sans-serif;
  color: #ec915b;
  font-size: 36px;
}

.contParr {
  font-family: 'Fjalla One', sans-serif;
  font-size: 24px;
  color: #3a3636 !important;
}

.imgEspacio {
  height: 400px;
}

.divFlex {
  display: flex;
  margin-left: 50px;
}

.ulSocial {
  margin-top: 36px;
  margin-right: 20px;
  margin-bottom: 0px !important;
}

.counter {
  margin-left: 80px;
}

a {
  border-bottom: dotted 0px !important;
}

table td {
  width: 1%;
  padding: 0.75em 0.75em;
}

.agenda {
  background-color: #313131 !important;
  padding: 50px 190px 50px 190px;
}

#two {
  padding: 0px !important;
}

.divSocial {
  margin-left: auto;
}

.ulLeft {
  margin-top: 0px;
  position: absolute;
  margin-left: 44%;
}

.logo {
  display: block;
  margin: 0 auto;
}

.imgLogo {
  padding-bottom: 10px;
  margin-top: 14px;
  width: 100px;
  display: block;
  margin: 0 auto;
}

.padd {
  padding: 30px !important;
}

.button.primary {
  background-color: #011161;
  box-shadow: none !important;
  color: #ffffff !important;
}

.logoUnlp {
  width: 130px;
  padding-bottom: 10px;
}

.button.primary:hover {
  background-color: #292929 !important;
}

@media (max-width: 600px) {
  header.major {
    padding: 20px;
    margin: 0 0 3.5em 0;
  }

  .navi {
    justify-content: normal;
  }

  .ulLeft {
    position: initial;
    margin-left: auto;
  }

  .imgLogo {
    padding-bottom: 10px;
    margin-top: 14px;
    width: 50px;
    margin-left: 0px;
  }

  .divFlex {
    display: block;
    margin: 0 auto;
    padding-right: 80px;
    /* margin-left: 50px; */
  }

  .agenda {
    padding: 20px;
  }

  .wrapper.style4 {
    background-color: transparent;
    padding: 20px !important;
  }

  .logoUnlp {
    width: 100px;
    margin-top: 14px;
    margin-left: 14px;
    padding-bottom: 10px;
  }
}